/*@import url('https://fonts.googleapis.com/css2?family=Nobile:wght@400;500;700&display=swap');
*/
@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');
body {
	/*font-family: 'Nobile', sans-serif;*/
	/*font-family:'Grandstander' 'Ubuntu', sans-serif;*/
	font-family: 'Asap', sans-serif;
	color: #333;
	line-height: 1.5;
	/*font-weight: 500;*/
	font-size: 16px;
	background-color: #ddd;
	padding: 0px;
	margin: 0px;
}
a {
	text-decoration: none;
	font-weight: 700;
}

li {
	list-style-type: none;
}

.header111 {
	background-image: url("img/dummy/bg1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 700px;
}
.navbar {
	padding: 0.1rem 0rem;
}

.top-area {
	width: 100%;
	background-color: #3fbbc0;
	padding: 10px 10px;	
	min-height: 60px;
}

 .top-area a {
 	float: right;
 	color: white;
 }

 .contact a {
 	float: left;
 }
 .contact a:hover {
 		color: #4ACCD1;
 }
small{
	color: white;
	font-weight: 700;
	position: absolute;
	margin-top: 10px;
}
  .logo {
 	width: 10%;
 	height: 10%; 
 	margin-left: 20px;
 	margin-right: 5px;
 }
 
 .btn-skin {
 	background-color: #4ACCD1;
 	color: white;
 	border:1px solid #4ACCD1;
 	font-weight: 600;
 	font-size: 16px;
 }
 .fa-style {
 	border-radius: 50%;
 	margin-right: 7px;
    margin-top: 7px;
 }
 .fa-style:hover {
 	color: #4ACCD1;
 }

.fa-facebook {    
   font-weight: 400;
    background: #55ACEE;
    color: #FFF;
    font-size: 20px;
    padding: 10px 15px 10px 15px;
}
.fa-twitter {
 	padding: 10px 15px 10px 15px;
    font-weight: 400;
    background: #55ACEE;
    color: #FFF;
    font-size: 20px;
}
.fa-instagram {
    background: #DD2A7B;
    color: #FFF;
    font-size: 20px;
    padding: 10px 12px 10px 12px;
}
 .btn-skin:hover{
 	background-color: #3fbbc0;
 }

 .navbar-light .navbar-brand {
    color: #333;
}
 .navbar-brand{
 	font-weight: 800;
    font-size: 2rem;
    
 }
 .link-hospital:hover{
 	color: #ccc;
 }
 .navbar-header-head a{
 	text-decoration: none;
 	font-size: 18px;
 	display: flex;
 	color: #3fbbc0;
 	margin-left: 55px;
 }
 .navbar-nav a{
 	color: #666;
 	margin-right:25px; 
 	text-decoration: none;
 }

  .navbar-nav a:hover{
  	color: #3fbbc0;
  }
 
/* intro section*/

#intro {
	/*min-height: 300px;*/
	padding:80px 0px 50px 0px; 
	/*text-align: center;*/
}
.btn-app{
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	margin: 10px auto;
 	font-size: 16px !important;
 }
.card a{
	color: black;
	text-decoration: none;
}
.card {
	background-color: transparent;
	/*border:1px solid grey;*/
	padding: 10px;
	margin: 10px auto;
	width: 50%;
	border-radius: 5px;
}

.main-head {
	/*font-family: 'Grandstander';*/
	font-weight: 800;
	font-size: 2.5rem;
	margin-bottom:50px;
}
.intro-desc p{
	border:1px solid transparent;
	padding: 50px;
	/*background-color: white;*/
	color: black;
	font-size: 18px;
	/*height: 2px;*/
}

.intro-desc {
    /*width: 80%;*/
      margin: auto;
      background-color: white;
	line-height: 1.8;
	padding: 50px;
	border-radius: 5px;
}
.card .fas, .far{
	font-size: 25px;
	margin-bottom: 20px;
	cursor: pointer;
}
.boxxx{
	margin-top: 60px;
}
/* services section*/
#services {
	padding:80px 0px 20px 0px;
	background-color: white;
}

hr{
	width: 20%;
	padding:0px;
	margin: 0px;
	color: #ccc;
	
}
.serv-heading {
	text-align: center;
	font-size: 3rem;
	font-weight: 700;
	padding: 20px 0px;
	margin-bottom: 20px;
	margin-top: 20px;
}

.serv-icon img{
	border-radius: 12px;
    color: #4ACCD1;
     margin: 40px auto; 
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 1s ; 
}
.serv-icon img:hover{
	background-color: #4ACCD1;
	/*color: white;*/
}
.serv-desc a{
	font-size:20px;
	text-decoration: none;
	color: #333;
	margin-bottom: 30px;
	text-align: center;
}
.serv-desc p{
	font-size:18px;
	text-decoration: none;
	color: #333;
	margin-top: 20px;
	margin-bottom:50px;
	text-align: center;
}
.serv-desc{
	/*width: 50%;*/
	margin: auto;
}
.comma img {
	color:white;
	margin-right: 5px;
	background-color: grey;
}

/*#testimonials {
	background-image: url("img/parallax/1.jpg");
	background-size: cover;
	text-align: center;
	background-repeat: no-repeat;

	color: #fff;
	min-height: 600px; 
	
}
.testimonial-head {
	color: #fff;
	font-size:3rem;
	padding:80px;
}

.carousel-head {
	padding: 20px;
}
.carousel-desc {
	background-color: transparent;
	border:1px solid transparent;
	margin-right: 5px;
	font-size: 18px;
	font-weight: 300;
	padding: 10px;
	display: block;
}

*/


#testimonials {
	padding: 80px 50px 80px 50px;
	background-image: url("img/parallax/1.jpg");
	text-align: center;
	color: #ccc;
}
.carousel-inner{
	width: 80%;
}
.carousel-desc {
	margin:auto;
	font-size: 20px;
	font-style: italic;
	line-height: 1.8;
}

.carousel-img {
  	margin: 20px 10px;
  	padding:20px;
	width: 15%;
	border-radius: 50%;
}

.testimonial-head {
	margin-bottom: 50px;
	font-size: 3rem;
	font-weight: 500;
}






/* contact section*/
#contact {
	padding: 100px 0px;
	background-image: url("img/dummy/bg1.jpg");
	background-size: cover; 
	background-repeat: no-repeat;
}

.panel-heading h1 {
	background-color: #666;
	color: white;
	text-align: center;
	font-size: 20px;
	font-weight: 500;
	padding: 10px;
	text-align: left;
	border-bottom: 1px solid transparent;
	border-color: #ddd;
}

.panel-body {
    padding: 20px;
    background-color: white;
}
.contact-head {
	color: #3fbbc0;
}
.contact-main-head {
	font-size: 2.5rem;
	font-weight: 700;
}
.cntct-head {
	font-size: 1.5rem;
}
.contact-desc {
	padding: 20px;
    border: 1px solid white;
    background-color: #fff;
    margin-top: 30px;

}
.contact-desc p {
	line-height: 1.8;
	font-size: 20px;

}

/*/*--------------------- footer section*---------------/*/
#footer {
	padding: 50px 0px;
	background-color: #fff;
}

.widget h1 {
	font-size: 22px;
	font-weight: 700;
	margin-bottom: 20px;
}

.widget ul {
	padding-left: 0px;
}
.widget li{
	margin-bottom: 10px;
}
.widget a {
   text-decoration: none;
	color: #666;
}
.widget .fa-lg{
	cursor: pointer;
}
.widget p{
	font-size: 1rem;
	font-weight: 700;
	color: #666;
}
.sub-footer {
	padding:10px 0px; 
	
}
.sub-footer-p {
	float: right;
}
 .social-icons-footer .fa{
 	background-color: white;
 }
.navbar-toggler{
	/*color: red;*/
}
.navbar-toggler-icon{
		/*color: black;*/
	}

@media(max-width: 768px){
	.social-icons{
		display: none;
	}
	.phy-img{
		display: none;
	}
	.physio-logo{
		width: 10px;
		height: 10px;
	}
	.link-hospital{
		display: block;
		margin-left: 10px;
	}
	.navbar-toggler-icon:hover{
		border:1px solid black;
		border-radius: 10px;
	}
}

@media(max-width: 468px){
	.link-hospital{
		display: block;
	}
}












