body {
	font-family: 'Ubuntu', sans-serif;
	color: #333;
	line-height: 1.5;
	font-weight: 600;
	font-size: 16px;
	background-color: #ddd;
/*	width: 100%;
	height: 100%;*/
	padding: 0px;
	margin: 0px;
}
a {
	text-decoration: none;
}

li {
	list-style-type: none;
}

h1{
	font-weight: 500; 
}
.main-head {
	/*font-family: 'Grandstander', cursive;*/
	font-weight: 700;
	font-size: 2rem;
}
.navbar {
	padding: 0.5rem 0rem;
}

.top-area {
	width: 100%;
	background-color: #3fbbc0;
	padding: 10px 20px;	
}

 .top-area a {
 	float: right;
 	color: white;
 }

 .contact a {
 	float: left;
 }
 .btn-skin {
 	background-color: #4ACCD1;
 	color: white;
 	border:1px solid #4ACCD1;
 	font-weight: 600;
 	font-size: 16px;
 }
 .fa-style {
 	border-radius: 50%;
 	margin-right: 7px;
    margin-top: 7px;
 }
 .fa-style:hover {
 	color: #4ACCD1;
 }

.fa-facebook {    
   font-weight: 400;
    background: #55ACEE;
    color: #FFF;
    font-size: 20px;
    padding: 10px 15px 10px 15px;
}
.fa-twitter {
 	padding: 10px 15px 10px 15px;
    font-weight: 400;
    background: #55ACEE;
    color: #FFF;
    font-size: 20px;
}
.fa-instagram {
    background: #DD2A7B;
    color: #FFF;
    font-size: 20px;
    padding: 10px 12px 10px 12px;
}
 .btn-skin:hover{
 
 	background-color: grey;
 }
 .navbar-header {
 	padding: 10px;
 }
 .navbar-light .navbar-brand {
    color: #333;
}
 .navbar-brand{
 	font-weight: 800;
    font-size: 2rem;
    
 }
 .link-hospital:hover{
 	color: #ccc;
 }
 .navbar-header-head a{
 	text-decoration: none;
 	font-size: 18px;
 	color: #3fbbc0;
 }
 .navbar-nav a{
 	color: #666;
 	margin-right:25px; 
 	text-decoration: none;
 }

  .navbar-nav a:hover{
  	color: #3fbbc0;
  }

/* intro section*/

#intro {
	padding:50px 0px 50px 0px; 
	background-image: url("img/dummy/bg1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.intro-desc p {
	border:1px solid transparent;
	padding: 30px;
	background-color: white;
	color: black;
	line-height: 1.8;
	font-size: 16px;
}

/* services section*/
#services {
	padding:80px 0px 20px 0px;
	/*min-height: 500px; */
	background-color: #fff;
}
.serv-img{
	/*display:block;*/
	/*width: 0%;*/
	/*display: inline-block;*/
}

hr{
	width: 20%;
	padding:0px;
	color: #ccc;
	
}
.serv-heading {
	text-align: center;
	font-size: 3rem;
	font-weight: 700;
	padding: 20px 0px;
	margin-bottom: 20px;
}

.serv-box {
	margin-bottom: 20px;
}
.serv-icon .fa{
	background-color: #fff;
	color: #4ACCD1;
	font-size: 45px;
	float: left;
	margin: 0px 20px 0px 20px;
}
.serv-desc a{
	font-size:20px;
	text-decoration: none;
	color: #333;

}
.serv-icon-desc {
	margin-top: 30px;
}

/*#testimonials {
	background-image: url("img/parallax/1.jpg");
	background-size: cover;
	text-align: center;
	background-repeat: no-repeat;

	color: #fff;
	min-height: 600px; 
	
}
.testimonial-head {
	color: #fff;
	font-size:3rem;
	padding:80px;
}

.carousel-head {
	padding: 20px;
}
.carousel-desc {
	background-color: transparent;
	border:1px solid transparent;
	margin-right: 5px;
	font-size: 18px;
	font-weight: 300;
	padding: 10px;
	display: block;
}

*/


#testimonials {
	padding: 80px 50px 80px 50px;
	background-image: url("img/parallax/1.jpg");
	text-align: center;
	color: #ccc;
}
.carousel-desc {
	margin:auto;
	font-size: 20px;
	font-style: italic;
	line-height: 1.5;
}

.carousel-img {
  	margin: 20px 10px;
  	padding:20px;
	width: 15%;
	border-radius: 50%;
}

.testimonial-head {
	margin-bottom: 50px;
	font-size: 3rem;
	font-weight: 500;
}






/* contact section*/
#contact {
	padding: 100px 0px;
	background-image: url("img/dummy/bg1.jpg");
	background-size: cover; 
	background-repeat: no-repeat;
}

.panel-heading h1 {
	background-color: #666;
	color: white;
	text-align: center;
	font-size: 20px;
	font-weight: 500;
	padding: 10px;
	text-align: left;
	border-bottom: 1px solid transparent;
	border-color: #ddd;
}

.panel-body {
    padding: 20px;
    background-color: white;
}
.contact-head {
	color: #3fbbc0;
}
.contact-main-head {
	font-size: 2.5rem;
	font-weight: 700;
}
.cntct-head {
	font-size: 1.5rem;
}
.contact-desc {
	padding: 20px;
    border: 1px solid white;
    background-color: #fff;
    margin-top: 30px;

}
.contact-desc p {
	line-height: 1.8;
	font-size: 20px;

}
/* footer section*/
#footer {
	padding: 50px 0px;
	background-color: #fff;
}

.widget h1 {
	font-size: 22px;
	font-weight: 600;
	margin-bottom: 20px;

}
.widget p {
	font-size: 20px;
	font-weight: 400;

}
.widget ul {
	padding-left: 0px;
}
.widget li{
	margin-bottom: 10px;
}
.widget a {
   text-decoration: none;
	color: #666;
}
.widget p{
	font-size: 1rem;
	font-weight: 700;
}
.sub-footer {
	padding:10px 0px; 
	
}
.sub-footer-p {
	float: right;
}

/*@media (max-width: 900px){
	
	.link-hospital ,.btn-app  ,.serv-icon{
		font-size: 10px;
	}
	.btn-app{
		position: absolute;
		top: 20px;
		right: 120px;
	}
	.serv-img {
		overflow: hidden;
		display: none;

	}
	.top-area{
		padding:5px;
	}
	.top-area a{
		font-size: 12px;
	}
	.fa.fa-style{
		font-size: 12px;
		padding: 10px;
	}
	.serv-desc a{
		font-size: 18px;
		margin-right: 5px;
	}
	.carousel-head{
		padding: 0px;
	}

   p , .contact-desc ,.serv-desc{
   	font-size: 14px;
   }
   
   #intro {
   	padding-top: 10px;
   }
    #services{
    	padding: 10px 0px;
    }
    #contact {
    	padding: 20px 0px;
    }
    #testimonials {
    	padding-bottom: 40px;
    	
    }
    .carousel-desc {

	font-size: 18px;
	word-spacing: 1px;
	
	}
	
    .widget {
    	padding-bottom:40px;
    }
    .widget h1 {
    	font-size: 18px;
    }
    .widget p {
    	font-size: 14px;
    	font-weight: bold;
    }

	.testimonial-head, .contact-main-head ,.contact-head, .serv-heading{
		font-size: 2rem;
		padding: 10px 0px;
	}
	.serv-heading {
		
		padding: 20px 0px;
	  }
	  .carousel-head{
	  	font-size: 18px;
	  }

	  .carousel-img {
	  	width: 30%;
	  }
}
*/

@media(min-width: 1024px){

	.serv-icon .fa{

	font-size: 35px;
	float: left;
	box-sizing: content-box;
	margin: 0px 10px 0px 10px;
	}
	.serv-desc a{
		font-size:20px;

	}
	.carousel-img{
	width: 10%;
	}

}

@media(min-width: 769px)and (max-width: 1023px){

	.serv-img {
		overflow: hidden;
	}
	.serv-heading ,.testimonial-head{
 		font-size: 2rem;
 	}

}

@media(max-width: 768px){
 	
 	.panel {
 		margin-top: 20px;
 	}
 	.serv-img{
 		display: none;
 	}
 	.serv-heading ,.testimonial-head{
 		font-size: 2rem;
 	}
 	.carousel-desc {
 	 		font-size: 18px;
 	 		padding: 0px;
 	 }
 	  .widget h1 {
    	font-size: 18px;
    	margin-top: 10px;
    }
    .widget p {
    	font-size: 14px;
    	font-weight: bold;
    }
	.btn-app {
			font-size: 14px;
	}

.fa-facebook {    
   
    font-size: 16px;
    padding: 10px 15px 10px 15px;
}
.fa-twitter {
 	padding: 10px 15px 10px 15px;  
    font-size: 16px;
}
.fa-instagram {
    
    font-size: 16px;
    padding: 10px 12px 10px 12px;
}
.link-hospital{
	display: block;
}

}
@media(max-width: 468px){
 	
 	.serv-desc a{
 		font-size: 18px;
 	}
 	.carousel-img {  	
		width: 30%;	
	}
	.serv-box{
		margin-top: 20px;
	}
	.contact .nav-link{
		font-size: 12px;
		padding: 0px;
	}
	.top-area{
		position: relative;
		/*padding-bottom: 60px;*/

	}
	.btn-app {
			font-size: 10px;
			position: absolute;
			right: 160px;
			/*top: 60px;*/
			margin: auto;
	}

	.fa-facebook ,.fa-instagram ,.fa-twitter {    
    	font-size: 12px;

		}


}















